<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Event used: catalog_product_save_before -->
    <event name="catalog_product_save_before">
        <!-- Observer: Learning\PriceChangeLog\Observer\CreateLog -->
        <observer name="product_price_create_log" instance="Learning\PriceChangeLog\Observer\CreateLog" />
    </event>
</config>